@layout('layouts.main')

@section('style-extras')
  {{style('css/index')}}
@endsection

@section('title')
  Confecciones Maribel
@endsection

@section('content')
<div class="container">

  <h1 class="text-center mt-5 display-2">Welcome To</h1>
  <a href="/">
    <img src="./logo.png" class="container img-fluid">
  </a>
</div>
</div>
</div>

@endsection