* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.contenido{
    margin: 0 auto;
       
}

label{
    color:white;
    font-family: Lobster;
    font-size: 20px;
}

h1 ,h2{
    color:white;
    text-align: center;
    font-family: Lobster;
}

p{
    color:white;
    font-family: Lobster;
    font-size: 20px;
    text-decoration: none; 
    text-justify: center
}

.card{
    width: 40%;
    margin: 30px auto auto;
    
}


#index-alquileres ul>li>a{
    color:white;
    font-family: Lobster;
    font-size: 30px;
    text-decoration: none;
    
}

#index-alquileres ul>li>a>p{
    width: 87%;
    color:white;
    font-family: Lobster;
    font-size: 30px;
    text-decoration: none;
    margin : 0 auto;
    margin-top : 10px;
}

.messageError{
    color:red;
    font-family: Lobster;
    font-size: 17px ;
}
.card-info-alquiler .card{
    width: 80%;
    margin: 30px auto auto;
}
#title-info{
    font-family: Lobster;
    font-size: 30px
}