* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    
}
.form-prenda{
    width: 45%;
    margin: 0 auto;
    
}



.titulo-card{
    text-align: center;
    font-family: Lobster;
}

.cuerpo-card{
    font-family: Lobster;
    font-size: 30px
}

.form-prenda{
    width: 50%;
    font-family: Lobster;
    font-size: 30px;
    text-align : center;
}

.form-prenda label{
    font-size : 20px;
}

.table-buscar-prenda h2{
    font-family: Lobster;
    font-size: 30px;
    text-align : center;
}

h2{
    text-align: center;
    font-family: Lobster;
    font-size: 30px;
    
}
#submit{
    font-size: 30px;
}