* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.contenido{
    margin: 0 auto;
       
}

label{
    color:white;
    font-family: Lobster;
    font-size: 20px;
}

h1 ,h2{
    color:white;
    text-align: center;
    font-family: Lobster;
}

p{
    color:white;
    font-family: Lobster;
    font-size: 20px;
    text-decoration: none; 
    text-justify: center
}

.card{
    width: 40%;
    margin: 30px auto auto;
    
}
.form-alquiler{
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

#index-alquileres ul>li>a{
    color:white;
    font-family: Lobster;
    font-size: 30px;
    text-decoration: none;
    
}

#index-alquileres ul>li>a>p{
    width: 87%;
    color:white;
    font-family: Lobster;
    font-size: 30px;
    text-decoration: none;
    margin : 0 auto;
    margin-top : 10px;
}