* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.contenido{
    margin: 0 auto;
   
}

h1 , h2{
    color : white;
    text-align: center;
    font-family: Lobster;
}

.form-clientes{
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
}