* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.contenido{
    margin: 0 auto;
   
}

h1 , h2{
    color : white;
    text-align: center;
    font-family: Lobster;
}

.form-clientes{
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}
.form-find{
    width: 35%;
    margin: 0 auto;
    margin-top: 3%; 
}

.info{
    width: 38%;
    margin : 0 auto;
    font-size: 25px;
    font-family: Roboto
}

#index-clientes ul>li>a>p{
    width: 87%;
    color:white;
    font-family: Lobster;
    font-size: 30px;
    text-decoration: none;
    margin : 0 auto;
    margin-top : 10px;
}