* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    
}
.form-prenda{
    width: 45%;
    margin: 0 auto;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}



.titulo-card{
    text-align: center;
    font-family: Lobster;
}

.cuerpo-card{
    font-family: Lobster;
    font-size: 30px
}

.form-prenda{
    font-family: Lobster;
    font-size: 30px;
    text-align : center;
}

.form-prenda label{
    font-size : 20px;
}

.table-buscar-prenda h2{
    font-family: Lobster;
    font-size: 30px;
    text-align : center;
}

h2{
    text-align: center;
    font-family: Lobster;
    font-size: 30px;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}
#submit{
    font-size: 30px;
}